/* Custom properties */
:root {
    --clr-100: #fff;
    --clr-300: #4a4a4a;
    justify-content: center;
    --clr-400: #db8ade;
    --clr-700: #f6bf9f;
    --clr-900: #111;

    --ff-400: 'Open Sans', sans-serif;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
}

/* Css reset */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
    scroll-behavior: auto;
    }
    
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}

/* Utility classes */
.container {
    margin: 0 auto;
    max-width: 70rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {
    color: var(--clr-100);
    background-image: linear-gradient(-145deg, var(--clr-400), var(--clr-700));
    text-decoration: none;
    text-transform: uppercase;
    padding: .75rem 1.875rem;
    border-radius: .3125rem;
    font-weight: var(--fw-500);
    font-size: .8125rem;
    transition: 300ms ease-in-out;
}

.btn-primary:is(:hover, :focus) {
    transform: scale(1.05);
}

/* General styling */
body {
    font-size: 1rem;
    font-weight: var(--fw-400);
    font-family: var(--ff-400);
    color: var(--clr-900);
    background-color: #fff;
}

/* Header */
.header {
    background-color: var(--clr-400);
    background-image: linear-gradient(-45deg, var(--clr-400), var(--clr-700));
    color: var(--clr-100);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 3.5rem;
}

.nav-link {
    color: var(--clr-100);
    text-decoration: none;
}

.logo {
    text-decoration: none;
    background-image: linear-gradient(-45deg, var(--clr-400), var(--clr-700));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 2rem;
    font-weight: var(--fw-700);
    padding: 1rem 2rem;
}

.logo::before {
    background-color: var(--clr-100);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5rem;
    height: 2.5rem;
    z-index: -1;
    transform: translate(-50%, -50%);
    border-radius: 5%;
}
.bar {
    transition: y 100ms ease-in 100ms,
    rotate 100ms ease-in,
    opacity 0ms 100ms; 
    transform-origin: center;
}
.btn-menu[data-state="opened"] .bar {
    transition: y 100ms,
    rotate 100ms ease-in 100ms,
    opacity 0ms 100ms; 
}

.btn-menu {
    display: none;
    position: absolute;
    top: 35%;
    right: 5%;
    background-color: transparent;
    border: none;
}

.btn-menu[data-state="opened"] :is(.top, .bottom) {
    y: 45;
}
.btn-menu[data-state="opened"] .top {
    rotate: 45deg;
}
.btn-menu[data-state="opened"] .middle{
    opacity: 0;
}
.btn-menu[data-state="opened"] .bottom {
    rotate: -45deg;
}

/* Hero section */
#hero {
    padding-top: 9rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 0 auto;
    max-width: 70rem;
}

.hero__body {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
    align-items: center;
}

#hero h3 {
    color: #777;
    font-weight: var(--fw-500);
}
#hero h1 {
    font-size: 4rem;
    font-weight: var(--fw-800);
    line-height: 1.2;
}

#hero h1 span {
    color: var(--clr-400);
}

/* Services section */
#services {
    padding-top: 4rem;
    text-align: center;
    margin: 0 auto;
    max-width: 70rem;
}

#services h3 {
    color: #777;
    font-weight: var(--fw-500);
    text-transform: uppercase;
    font-size: .9rem;
}

#services h2 {
    font-weight: var(--fw-800);
    font-size: 1.8rem;
}

#services h2 span {
    color: var(--clr-400);
}

.cards-grid {
    display: grid;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    max-width: 18rem;
    margin: 0 auto;
    padding-block: 2rem;
    color: var(--clr-300);
    font-size: .9rem;
    font-weight: var(--fw-400);
}

.card h4 {
    font-size: 1.3rem;
    font-weight: var(--fw-800);
    color: var(--clr-900);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-45deg, var(--clr-400), var(--clr-700));
    color: var(--clr-100);
    padding: 4rem 0;
    margin-top: 3rem;
    text-align: center;
}

.social-list {
    display: flex;
    gap: 1rem;
}

.social-link {
    background-color: var(--clr-100);
    padding: .75rem;
    border-radius: 50%;
    fill: var(--clr-400);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    transition: 300ms ease-in;
}

.social-link:is(:hover, :focus) {
    fill: var(--clr-100);
    background-color: var(--clr-400);   
}

/* Media queries */

@media(max-width: 50em) {
    .btn-menu {
        display: block;
    } 
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-image: linear-gradient(to left, var(--clr-400), var(--clr-700));
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;
        transition: 300ms ease-in;
    }
    .nav-list.active {
        display: flex;
    }
}

@media(min-width: 50em) {
    .header {
        padding-inline: 1rem;
    }
    #hero {
        flex-direction: row;
        height: 100vh;
        align-items: center;
        justify-content: space-between;
        padding-inline: 1rem;
    }
    .hero__body {
        align-items: flex-start;
        text-align: start;
        max-width: 30rem;
        transform: translateY(-2rem)
    }

    .cards-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .card {
        margin-inline: 2rem;
    }

    .icon {
        width: 64px;
    }
}
